### Importando base de dados

In [11]:
import pandas as pd

exportacoes_franca_df = pd.read_csv('exportacoes_franca.csv')
exportacoes_franca_df = exportacoes_franca_df.loc[exportacoes_franca_df['Economic Block'] == 'Europe', :]
display(exportacoes_franca_df)

,Year,Month,Country,City,SH4 Code,SH4 Description,SH2 Code,SH2 Description,Economic Block,US$ FOB,Net Weight
0,2016,1,France,Águas Mornas - SC,303,"Fish, frozen, excluding fish fillets and other...",3,"Fish and crustaceans, molluscs and other aquat...",Europe,79360,14150
2,2016,1,France,Águas Mornas - SC,304,Fish fillets and other fish meat (whether or n...,3,"Fish and crustaceans, molluscs and other aquat...",Europe,69412,9385
4,2016,1,France,Alfenas - MG,901,"Coffee, whether or not roasted or decaffeinate...",9,"Coffee, tea, maté and spices",Europe,180914,57600
6,2016,1,France,Alta Floresta - MT,4409,Wood (including strips and friezes for parquet...,44,Wood and articles of wood; wood charcoal,Europe,47828,28306
8,2016,1,France,Ananindeua - PA,1211,Plants and parts of plants (including seeds an...,12,"Oil seeds and oleaginous fruits; Grains, Seeds...",Europe,391,22
...,...,...,...,...,...,...,...,...,...,...,...
142350,2020,12,France,Vinhedo - SP,4016,Other articles of vulcanised rubber other than...,40,Rubber and articles thereof,Europe,136,0
142352,2020,12,France,Vinhedo - SP,6806,"Slag wool, rock wool and similar mineral wools...",68,"Articles of stone, plaster, cement, asbestos, ...",Europe,76,50
142354,2020,12,France,Vinhedo - SP,8424,Mechanical appliances (whether or not hand-ope...,84,"Nuclear reactors, boilers, machinery and mecha...",Europe,2316,4
142356,2020,12,France,Vitória de Santo Antão - PE,714,"Manioc, arrowroot, salep, Jerusalem artichokes...",7,Edible vegetables and certain roots and tubers,Europe,27060,26400
142358,2020,12,France,Xapuri - AC,4409,Wood (including strips and friezes for parquet...,44,Wood and articles of wood; wood charcoal,Europe,31111,23045

### Informações gerais

In [12]:
print(exportacoes_franca_df.info())
#print(exportacoes_franca_df.describe())

<class 'pandas.core.frame.DataFrame'>
Index: 71180 entries, 0 to 142358
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             71180 non-null  int64
 1   Month            71180 non-null  int64
 2   Country          71180 non-null  object
 3   City             71180 non-null  object
 4   SH4 Code         71180 non-null  int64
 5   SH4 Description  71180 non-null  object
 6   SH2 Code         71180 non-null  int64
 7   SH2 Description  71180 non-null  object
 8   Economic Block   71180 non-null  object
 9   US$ FOB          71180 non-null  int64
 10  Net Weight       71180 non-null  int64
dtypes: int64(6), object(5)
memory usage: 6.5+ MB
None

### Como foi a evolução das exportasões para França ao longo dos anos?

In [13]:
tabela_export_anos = exportacoes_franca_df.groupby("Year").sum()
tabela_export_anos = tabela_export_anos[['US$ FOB','Net Weight']]

#criar um funcao de formatacao

def formatar(valor):
    return f"${valor:,.2f}"

#aplica formatacao

tabela_export_anos['US$ FOB'] = tabela_export_anos['US$ FOB'].map(formatar)
display(tabela_export_anos)

                US$ FOB   Net Weight
Year
2016  $2,307,750,041.00  10899058259
2017  $2,224,352,728.00  11278264626
2018  $2,619,712,208.00  10452620066
2019  $2,609,361,806.00   8206207675
2020  $1,983,797,405.00   5434444024