A forma mais comum de importar è a seguinte:

dataframe = pd.read_csv(nomeDoArquivo.extensao)

In [3]:
import pandas as pd

vendas = pd.read_csv('Contoso - Cadastro Produtos.csv', sep=';')

vendas[:1]

,Nome da Marca,Tipo,Custo Unitario,Preco Unitario,ID Produto,Categoria
0,Contoso,Econômico,"10,69","20,96",873,Acessório para Computador

In [4]:
vendas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1690 entries, 0 to 1689
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Nome da Marca   1690 non-null   object
 1   Tipo            1690 non-null   object
 2   Custo Unitario  1690 non-null   object
 3   Preco Unitario  1690 non-null   object
 4   ID Produto      1690 non-null   int64
 5   Categoria       1690 non-null   object
dtypes: int64(1), object(5)
memory usage: 79.3+ KB

In [10]:
lista_colu = ['ID Produto']
analise_prod = vendas[lista_colu]
analise_prod

      ID Produto
0            873
1            879
2            880
3            881
4            882
...          ...
1685        1602
1686        1606
1687        1607
1688        1611
1689        1612

[1690 rows x 1 columns]